

.box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;

	border: 5px solid #ff577f;
	border-radius: 20px;
	background-color: white;
}

.btn {
	padding: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	gap: 50px;
}

.photo {
	width: 300px;
	height: 300px;
}

.header {
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.title {
	font-size: 40px;
	text-transform: uppercase;
	color: #ff577f;
}

.price {
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}

.description {
	line-height: 30px;
}

.add_btn {
	padding: 20px;
	text-transform: uppercase;
	border: none;
}
