@use '../../../Styles/' as *;

.btn {
	margin-top: 20px;
	width: 50%;
	padding: 20px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	border: 3px solid transparent;

	&:hover {
		border: 3px solid $orange;
		background-color: transparent;
		
	}
}
