@use '../../../Styles/' as *;

.section {
	position: sticky;
    top: 0;
	background-color: $pink;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 calc(50% - 900px);
	@media (max-width: 1700px) {
		padding: 0 calc(50% - 800px);
	}
}

.logo {
	font-size: 30px;
	text-transform: uppercase;
}

.basket {
	padding: 15px;
	border: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
    justify-content: space-between;
    
    
}

.quantity {
	font-weight: bold;
	font-size: 20px;
    padding: 10px;
    width: 50px;
}
