@use '../../../../Styles/' as *;

.card {
	width: 80%;
	border: 3px solid $orange;
	padding: 30px;
	border-radius: 30px;
	box-shadow: 8px 8px 45px -6px rgb(214, 212, 212);
    display: flex;
    
}

.content {
	display: flex;
flex-direction: column;
	align-items: center;
}
.about {
	display: flex;
	justify-content: space-between;
	
}

.text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
    text-transform: uppercase;
    color: $pink;
    font-size: 25px;
}

.price {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.description {
	width: 70%;
    text-transform: uppercase;
}

.photo {
	width: 150px;
	height: 150px;
	object-fit: contain;
	aspect-ratio: 1/1;
	
}



.buttons {
	margin-top: 30px;
	display: flex;
	width: 100%;
	gap: 50px;
justify-content: space-between;
}

